/.direnv
/.idea
/safe
/stuff
/data
/volumes
/result
.env
/env/**/*.env
.venv
weights1.json
testing.py


node_modules

.ipynb_checkpoints

/.tests
__pycache__
scripts

# Exception: Do not ignore .example.env files only within the env directory
!/env/*.example.env
!/env/**/*.example.env